Package: thanos
Version: {{tag}}{{suffix}}
Homepage: thanos.io
Section: base
Priority: optional
Architecture: amd64
Maintainer: Marvin Gaube <dev@marvingaube.de>
Description: Thanos
 Open source, highly available Prometheus setup with long term storage capabilities.
